---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

During my PhD at the University of Antwerp Operations Research group ANT/OR, I supervised a few courses and theses:
- 2019: Jury member for a PhD thesis by Kiros Gebrearegawi Kebedow, Mathematical models and solutions for container stowage problems, Hawassa University.
- 2017-2108: Supervision of a master’s thesis by Jonas Dierckxsens, Matching pupils to schools: Analysis of the Antwerp matching algorithm, University of Antwerp (nominated for the Belgian
Operational Research Society award as the best master thesis in operations research).
- 2014-2018: Supervision of a number of team projects for Corporate social responsibility course at the University of Antwerp, which sees students develop solutions for non-profit and social-profit
organisations that cannot afford expensive consulting services.
- 2014-16: Tutor for lab sessions for Applied mathematics course (MATLAB to solve complex problems in a variety of applications)

Before that, I worked at the University of Tuzla as a teaching assistant in 2009/10 and 2013/14, where I prepared and conducted the exercise and exam sessions for the following
courses: Functional analysis, Set theory, Probability theory, Statistics, Numerical analysis, Introduction to mathematics, Popular mathematics at the Faculty of Science; Mathematics I and Mathematics II
at the Faculty of Technology; Mathematics II at the Faculty of Civil Engineering; and Mathematics for economists at the Faculty of Economics. An old website with course notes, exam sessions and tips can be found [here](https://renataturkes.wixsite.com/renata-turkes).

Some of the workbooks with complete solutions (in Bosnian language):
- <h1>Functional analysis</h1>
    <iframe src="/files/renata_turkes_functional_analysis.pdf" width="100%" height="500px">
    </iframe>

- <iframe src="/files/renata_turkes_functional_analysis.pdf" width="100%" height="500" frameborder="no" border="0" marginwidth="0" marginheight="0"></iframe>


